body{
    background-color: #caeeff;
    text-shadow: 0px 1px 1px rgba(255,255,255,.9);
}
#main{
    margin-top: 5px;
}
.titre{
    text-align: center;
}

footer{
    font-size: smaller;
    text-align: center;
}
header{
    height: 130px;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position: center 0px;
}

.error {
    color: red;
}

input.ng-dirty.ng-invalid {
    border-color: red;
}