<div>
    <h3 class ="titre">LA LISTE DES TYPES DE COURS</h3><br/>
    <table class="table table-bordered table-hover table-condensed table-striped">
        <thead>
            <tr class="success">
                <th>Numero</th>
                <th>nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="type in typecours" class="inverse">
                <td>{{$index + 1}}</td>
                <td>{{type.nom}}</td>
                <td><a ng-click="afficherFenetre(type)"><i class="glyphicon glyphicon-edit"></i>  Modifier</a> | <a ng-click="supprimerTypecours(type)"><i class="glyphicon glyphicon-remove"></i> Supprimer</a></td>
            </tr>
        </tbody>
    </table>
    <form>
        <button class="btn btn-primary" ng-click="afficherFenetre(undefined)"><i class="icon-user"></i><i class="glyphicon glyphicon-save"></i> Ajouter</button>
    </form>
</div>