<div>
    <h4 class ="titre">LA LISTE DES PROGRMMES ENSEIGNEMENTS</h4><br/>
    <table class="table table-bordered table-hover table-condensed table-striped">
        <thead>
            <tr class="inverse">
                <th>Numero</th>
                <th>Annees</th>
                <th>Unite</th>
                <th>Departement</th>
                <th>Niveau</th>
                <th>Option</th>
                <th>Semestre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="programme in programmes" class="inverse">
                <td>{{$index + 1}}</td>
                <td>{{programme.anneeAcademique.debut | date:'yyyy'}} -{{programme.anneeAcademique.fin | date:'yyyy'}} </td>
                <td>{{programme.uniteEnseignement.code}}</td>
                <td>{{programme.parcours.option.departement.code}}</td>
                <td>{{programme.parcours.niveau.code}}</td>
                <td>{{programme.parcours.option.code}}</td>
                <td>{{programme.semestre.intitule}}</td>
                <td><a ng-click="afficherFenetre(programme)"><i class="glyphicon glyphicon-edit"></i>  Modifier</a> | <a ng-click="supprimerProgramme(programme)"><i class="glyphicon glyphicon-remove"></i> Supprimer</a></td>
            </tr>
        </tbody>
    </table>
    <form>
        <button class="btn btn-primary" ng-click="afficherFenetre(undefined)"><i class="icon-user"></i><i class="glyphicon glyphicon-save"></i> Ajouter</button>
    </form>
</div>