<div>
    <h4 class="titre">LA LISTE DES ENSEIGNANTS</h4>
    <table class="table table-bordered table-hover table-condensed table-striped">
        <thead>
            <tr>
                <th>Numero</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat=" enseignant in enseignants">
                <td>{{$index + 1}}</td>
                <td>{{enseignant.nom}}</td>
                <td><a ng-click="afficherFenetre(enseignant)"><i class="glyphicon glyphicon-edit"></i> Modifier</a> | <a ng-click="supprimerEnseignant(enseignant)"><i class="glyphicon glyphicon-remove"></i> Supprimer</a></td>
            </tr>
        </tbody>
    </table>
    <form>
        <button class="btn btn-primary" ng-click="afficherFenetre(undefined)"><i class="glyphicon glyphicon-save"></i> Ajouter Enseigant</button>
    </form>
</div>