<div>
	<h3>LA LISTE DES ANNEES ACADEMIQUES</h3>
	<table class="table table-bordered table-hover table-condensed table-striped">
		<thead>
			<tr>
				<th>Numero</th>
				<th>Debut</th>
				<th>Fin</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="annee in annees">
				<td>{{$index + 1}}</td>
				<td>{{annee.debut}}</td>
				<td>{{annee.fin}}</td>
				<td><a ng-click="afficherFenetre(annee)">Modifier</a> | <a ng-click="supprimerAnnee(annee)"> Supprimer </a></td>
			</tr>
		</tbody>
	</table>
	<form>
		 <button class="btn btn-primary" ng-click="afficherFenetre(undefined)">Ajouter Annee</button>
	</form>
</div>